body {
  margin: 0;
}

#nav-link-contact {
  color: white;
  border-radius: 0px 0px;
  padding: 12px 12px 12px 12px;
  padding-bottom: 3px;
  border-bottom: 1px solid aqua;
}

.main_paragraph {
  color: white;
  text-align: center;
}

.email {
  color: aqua;
}

.linkedin {
  color: aqua;
}